$font-stack: Righteous, Helvetica, sans-serif;
$primary-color: #333;
$bg-color: #ffbf69;
$btn-color: #cbf3f0;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 4em;
  font: 100% $font-stack;
  background-color: $bg-color;
  background-size: cover;
  background-position: center;
}

.pop-it-links {
  height: 20%;
  margin: 0.3em;
  padding: 0;
  display: flex;
  list-style: none;
  .main-link {
    flex: 2;
  }
  .side-link {
    padding-left: 6em;
  }
}

section.main-section {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: cover;
  .main-container {
    width: 50%;
    margin: 8em 2em 0;
    color: white;
    .main-header {
      font-size: 90px;
      margin: 0;
    }
  }
}

.btn {
  margin-top: 2em;
  padding: 1em 2em;
  border: none;
}
