$font-stack: Poppins, Helvetica, sans-serif;
$primary-color: #333;
$bg-color: #ffbf69;
$light-color: #cbf3f0;

* {
  box-sizing: border-box;
}

body {
  min-width: fit-content;
  padding: 0;
  margin: 0;
  font: 110% $font-stack;
  background-color: $bg-color;
}

button {
  font-weight: 700;
  margin-top: 2em;
  padding: 1em 2em;
  border: none;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
#pop {
  margin: 0;
  background-color: #0000;
  font-size: large;
  font-weight: 700;
  &hover {
    cursor: pointer;
  }
}
header {
  width: 100%;
  padding: 2em 3em;
  .pop-it-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pop-it-links {
      list-style: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      .link {
        float: right;
        a {
          color: inherit;
          display: block;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            cursor: pointer;
            color: white;
          }
        }
      }
      .main-link {
        display: block;
        float: left;
        text-decoration: none;
      }
      .side-link {
        margin: 0 3em;
      }
    }
  }
}

section.main-section {
  height: 100vh;
  background-image: url("./assets/background.png");
  background-position: right;
  background-size: min(80%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  .main-container {
    width: 70%;
    margin: 0 5em;
    padding: 6em 0;
    color: white;
    .main-header {
      text-shadow: 1px 2px 3px rgb(245, 255, 159);
      font-size: 15vw;
      letter-spacing: 3px;
      margin: 0;
      &:hover {
        color: #333;
        cursor: pointer;
      }
    }
    .main-text {
      width: 80%;
      margin-right: 6em;
    }
    .main-btn {
      background-color: $light-color;
    }
  }
}

section.second-section {
  height: 300px;
  padding: 2em 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  .section-header {
    margin: 0;
  }
  .section-text {
    font-weight: 300;
  }
}

section.third-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $light-color;
  text-align: center;
  .section-header {
    margin-top: 3em;
  }
  .contents {
    display: flex;
    .content {
      margin: 2em 4em;
      display: flex;
      align-items: center;
      flex-direction: column;
      .content-image {
        width: 200px;
      }
      .section-btn {
        background-color: $bg-color;
      }
    }
  }
}

section.fourth-section {
  background-image: url("./assets/bg-grid.png");
  background-position: center;
  background-size: cover;
  background-color: white;
  padding: 6em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  .contents {
    display: flex;
    flex-direction: column;
    padding: 3em;
    .section-text {
      font-weight: 300;
    }
  }
  .content-image {
    width: 400px;
  }
}

footer {
  .footer-pop-it-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2em;
    background-color: #333;
    margin: 0;
    color: white;
  }
  .link {
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

// burger

input.burger {
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: none;
  position: absolute;
  top: 3em;
  right: 4em;
  z-index: 20;
  // height: 25px;
  width: 40px; /* control the size */
  aspect-ratio: 1;
  background: linear-gradient(#000 50%, #0000 0) 0 0/100% 40%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &::before,
  &:after {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  &:checked {
    background: conic-gradient(from 90deg at 33% 33%, #0000 90deg, #000 0) 100%
      100%/60% 60%;
    transform: rotate(45deg);
  }
}

$breakpoint-tablet: 800px;
@media (max-width: $breakpoint-tablet) {
  //burger
  input.burger {
    display: block;
  }
  //nav
  nav.nav {
    .main-link {
      display: none;
    }
    position: fixed;
    background: $bg-color;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 6em;
    // transform: translateX(100%);
    // transition: all 1s;
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    .pop-it-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .link {
        padding: 0.5em;
      }
    }
  }

  header {
    .pop-it-links {
      display: none;
    }
  }
  section.main-section {
    background-position: center;
    background-size: cover;
    .main-container {
      width: 70%;
      margin: 0 3em;
      .main-text {
        width: 50%;
      }
    }
  }
}
